<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.BODY_SENSORS"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BuildGainz"
        tools:targetApi="31">
        <activity
            android:name=".DashBoard.Tracking.StepTrackingActivity"
            android:exported="false" />
        <activity
            android:name=".DashBoard.Calculator.IBW.IBWViewActivity"
            android:exported="false" />
        <activity
            android:name=".DashBoard.Calculator.BMR.BMRViewActivity"
            android:exported="false" />
        <activity
            android:name=".DashBoard.Calculator.IBW.IBWActivity"
            android:exported="false" />
        <activity
            android:name=".DashBoard.Calculator.CalorieCalc.CalorieCalcActivity"
            android:exported="false" />
        <activity
            android:name=".DashBoard.Calculator.BMR.BMRCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".DashBoard.Calculator.CalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".DashBoard.Calculator.BMI.BMIViewActivity"
            android:exported="false" />
        <activity
            android:name=".DashBoard.Calculator.BMI.BMICalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".DashBoard.ExercisePlan.ViewExercise.ExerciseViewActivity"
            android:exported="false" />
        <activity
            android:name=".DashBoard.ExercisePlan.ExercisesActivity"
            android:exported="false" />
        <activity
            android:name=".DashBoard.Profile.ChangeProfilePicActivity"
            android:exported="false" />
        <activity
            android:name=".DashBoard.Settings.DeleteUserActivity"
            android:exported="false" />
        <activity
            android:name=".DashBoard.Settings.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".DashBoard.Profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".LoginPage.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".LoginPage.SignUpPage.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".DashBoard.DashBoardActivity"
            android:exported="false" />
        <activity
            android:name=".LoginPage.LoginPageActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreens.GetStartedActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreens.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>